@use './../../utils/style/variables.scss';

.loader {
    margin: auto;
    text-align: center;
}

.loader {
    width: 21px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: d5 1s infinite linear alternate;
}

@keyframes d5 {
    0% {
        box-shadow: 20px 0 #fff, -20px 0 #fff2;
        /* points blancs */
        background: #fff;
        /* fond blanc */
    }

    33% {
        box-shadow: 20px 0 #fff, -20px 0 #fff2;
        background: #fff2;
    }

    66% {
        box-shadow: 20px 0 #fff2, -20px 0 #fff;
        background: #fff2;
    }

    100% {
        box-shadow: 20px 0 #fff2, -20px 0 #fff;
        background: #fff;
    }
}