@use './../../utils/style/variables.scss';

.header h2 {
    margin-top: 0;
    font-size: 2em;
}

.editNameForm {
    margin-top: 11px;
}

.input-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.editNameinput {
    width: 200px;
}

.input-group button {
    width: 90px;
}

.edit-button-danger {
    border-color: #bc2600 !important;
    background-color: #bc2600 !important;
}

@media (max-width: 720px) {
    .column {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}