@use './../../utils/style/variables.scss';

.error {
    align-content: center;
}

.error h1 {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    margin: 2rem;
}

.error a {
    color: #ffffff;
}