// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$defaultFont: 'Roboto', sans-serif;

// Colors
$defaultBackgroundColor : #FFFFFF;
$defaultNavBackgroundColor : #020203;
$secondaryBackgroundColor : #FBFBFB; //#FBFBFB #ff8ef5
$defaultFontColor : #000000;
$secondaryFontColor : #74798C;
$navTitleColor : #FFFFFF;
$mainColor : #FF0101;
$mainGraphicColor : #FF0000;
$secondaryGraphicColor : #282D30;


$headerHeight: 91px; // Hauteur du Header
$sideBarWidth: 117px; // Largeur de la SidBar